/* GLOBAL MINIMAL SCROLLBAR */

* {
    scrollbar-width: thin;
    scrollbar-color: #94a3b8 transparent;
}

/* CHROME, EDGE, SAFARI */
*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(148, 163, 184, 0.55);
    border-radius: 20px;
    transition: all 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(148, 163, 184, 0.9);
}

/* OPTIONAL: SUPER CLEAN CORNERS */
*::-webkit-scrollbar-corner {
    background: transparent;
}